{
    "presets": ["@babel/preset-env"],
    "plugins": [
      ["module-resolver", {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "alias": {
          "^@/(.+)\\.js$": "./src/\\1"
        }
      }]
    ]
  }